/* Темний прозорий фон */
.swim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.71); /* Прозорий чорний фон */
  z-index: 1000; /* Поверх всього */
  display: flex;
  justify-content: center; /* Початкова позиція справа */
  align-items: center;
  overflow: hidden; /* Блокуємо прокрутку фону */
  opacity: 0; /* Початково прозоре */
  animation: fadeIn 0.5s forwards ease-in-out; /* Плавна поява */
}
/* Анімація прозорості */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Основне вікно */
.swim-window {
  position: relative;
  width: 50%; /* Ширина спливаючого вікна */
  height: auto;
  background: radial-gradient(circle, #001220, #000d1a, #000814);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.941),
    inset 0 0 30px rgba(1, 251, 72, 0.2);
  transform: translateX(100%); /* Початкове положення за межами екрану */
  animation: slideIn 0.8s forwards ease-in-out; /* Плавна поява */
  border: 1px solid #0077ff; /* Світиться рамка */
}
/* Анімація виїзду */
@keyframes slideIn {
  to {
    transform: translateX(0); /* Вікно в'їжджає на своє місце */
  }
}
/* Контент */
.swim-content {
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
}
/* Заголовок */
.title {
  color: #ffffff; /* Основний білий текст */
  text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff,
    0 0 80px #0077ff; /* Ефект сяйва */
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px #0077ff, 0 0 20px #00d4ff; /* Світіння */
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 50px;
}
.list-item {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9);
}
/* Текст */
.swim-content p {
}
/* Кнопка */
/* Основна кнопка */
.swim-button {
  background: transparent; /* Прозорий фон */
  border: 2px solid #0077ff; /* Напівпрозора рамка */
  border-radius: 30px; /* Округлі кути */
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  /*  */
  background: linear-gradient(
    90deg,
    #4b0082,
    #0b3d91,
    #001f54
  ); /* Градієнт кнопки */
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 255, 0.3); /* Сяйво */
  transition: all 0.4s ease-in-out;
}
/* Ефекти при наведенні */
.swim-button:hover {
  /* Ефект світіння */
  box-shadow: 0 0 15px rgba(0, 255, 104, 0.8), 0 0 30px rgba(0, 255, 104, 1);

  background: linear-gradient(90deg, #0077ff, #00d4ff);
  box-shadow: 0 6px 20px rgba(0, 123, 255, 0.5); /* Інтенсивніше сяйво */
  transform: scale(1.1);
}
