/* Загальний стиль секції */
.welcome-section {
  box-shadow: 0 16px 16px rgb(0, 0, 0);
  /* Розміри контейнера */
  width: 99vw;
  height: 95vh;
  overflow: hidden; /* Приховує вихідні межі зображення */
  /* Центрування вмісту */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Розташовує текст внизу */
  /* Додаткові стилі */
  position: relative; /* Для правильного позиціонування тексту */
  color: white;
  text-align: center;
  font-size: 2rem;
  /* Фон секції */
  background: linear-gradient(rgba(0, 0, 0, 0.098), rgba(0, 0, 0, 0.18)),
    url("/public/image/welcome10px.jpg") center/cover no-repeat;
  background-attachment: fixed; /* Фіксований бекграунд */
}
/* Список текстів */
.text-list {
  list-style: none; /* Відсутність стандартних маркерів списку */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-align: center; /* Розташування текстів вертикально */
  padding: 0;
  gap: 15px;
}
/* Елементи тексту */
.text-item {
  margin: 150px 5px;
  width: 350px;
  font-size: 1.6rem; /* Розмір тексту */
  font-weight: bold; /* Жирний текст */
  line-height: 1.2; /* Висота рядків */
  color: white; /* Білий текст */
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Легка тінь тексту */
  padding: 10px 20px; /* Внутрішній відступ */
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
  border-radius: 10px; /* Закруглені кути */
  border: 2px solid rgb(174, 255, 0); /* Зелена рамка */
  box-shadow: 0 0 10px rgb(174, 255, 0); /* Легке підсвічування */
}
