.advantages-section {
  padding: 40px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #00ff00;
}

.advantages-list {
  list-style: none;
  display: flex; /* В один рядок */
  justify-content: space-between; /* Рівномірний розподіл */
  gap: 20px; /* Проміжки між елементами */
  padding: 0;
}

.advantage-item {
  flex: 1 1 22%; /* Встановлюємо ширину для кожного елемента */
  min-width: 250px;
  padding: 20px;
  border: 2px solid #009fa2;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7); /* Темний фон */
  overflow: hidden;
  text-align: center;
}

.advantage-item:hover {
  border-color: #00f1f5;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6); /* Світіння рамки */
}

.advantage-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.advantage-full-text {
  font-size: 1rem;
  color: white;
  display: none; /* Текст приховано за замовчуванням */
  margin-top: 10px;
  transition: opacity 0.3s ease; /* Плавна поява */
  opacity: 0; /* Невидимий стан */
}

.advantage-full-text.visible {
  display: block; /* Показуємо текст */
  opacity: 1; /* Робимо видимим */
}
