.advantages-section {
  padding: 40px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #00ff00;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap; /* Усе в один рядок */
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  overflow-x: auto; /* Прокручування по горизонталі */
}

.advantage-item {
  flex: 1 1 300px; /* Ширина кожного елемента */
  min-width: 250px; /* Мінімальна ширина */
  padding: 20px;
  border: 2px solid #009fa2;
  border-radius: 10px;
  position: relative;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  overflow: hidden; /* Ховаємо частини елементів, що виходять за межі */
}

.advantage-item:hover {
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
  border-color: #00f1f5;
}

.advantage-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.advantage-short-text {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #aaa;
}

.expanded-content {
  display: none; /* Ховаємо текст за замовчуванням */
  font-size: 1rem;
  margin-top: 10px;
  color: white;
  transition: all 0.3s ease;
}

.advantage-item:hover .expanded-content {
  display: block; /* Показуємо текст тільки при ховері на конкретний елемент */
}
