/* Home.module.css */
.home {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.title-1 {
  font-size: 2rem;
  color: #333;
}

.text-1 {
  font-size: 1.2rem;
  color: #666;
}

.title-2 {
  font-size: 1.5rem;
  color: #444;
}

.list {
  list-style: none;
  padding: 0;
}

.list-tem {
  margin: 1rem 0;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.title-3 {
  font-size: 1.2rem;
  color: red;
}

.text3 {
  font-size: 1rem;
  color: #777;
}
.list {
  display: flex;
  width: 400px;
}
