/* Основний стиль хедера */
.header {
  align-items: center;
  display: flex;
  background-color: #000000; /* Чорний фон */
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Стиль для навігації */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px; /* Відстань між пунктами */
}

/* Базовий стиль для посилань */
.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  position: relative;
  transition: color 0.3s ease;
}

/* Підсвічення активного пункту */
.active {
  color: #00c000;
  font-weight: bold;
}

/* Світіння при наведенні */
.nav-item:hover {
  color: #7fef08;
  text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 15px #00ffcc;
}

/* Підкреслення при наведенні */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00ffcc;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

/* Стилізація логотипу */
.logo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffdc;
}
