/* Темний прозорий фон */
.swim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.71); /* Прозорий чорний фон */
  z-index: 1000; /* Поверх всього */
  display: flex;
  justify-content: flex-end; /* Початкова позиція справа */
  align-items: center;
  overflow: hidden; /* Блокуємо прокрутку фону */
  opacity: 0; /* Початково прозоре */
  animation: fadeIn 0.5s forwards ease-in-out; /* Плавна поява */
}
/* Анімація прозорості */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Основне вікно */
.swim-window {
  position: relative;
  width: 50%; /* Ширина спливаючого вікна */
  height: auto;
  background-color: rgba(0, 0, 0, 0.879); /* Прозорий темний фон */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.941),
    inset 0 0 30px rgba(1, 251, 72, 0.2);
  transform: translateX(100%); /* Початкове положення за межами екрану */
  animation: slideIn 0.8s forwards ease-in-out; /* Плавна поява */
  border: 1px solid rgba(0, 255, 150, 0.5); /* Світиться рамка */
}
/* Анімація виїзду */
@keyframes slideIn {
  to {
    transform: translateX(0); /* Вікно в'їжджає на своє місце */
  }
}
/* Контент */
.swim-content {
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
}
/* Заголовок */
.swim-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #00b41b;
  /* text-shadow: 0 0 10px #00ff96, 0 0 20px rgba(0, 255, 150, 0.7); */
}
/* Текст */
.swim-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9);
}
/* Кнопка */
/* Основна кнопка */
.swim-button {
  background: transparent; /* Прозорий фон */
  color: #00ff6600; /* Початковий колір тексту */
  border: 2px solid rgba(0, 255, 104, 0.5); /* Напівпрозора рамка */
  border-radius: 30px; /* Округлі кути */
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  /* Внутрішня тінь */
  box-shadow: inset 0 0 10px rgba(0, 255, 104, 0.5),
    inset 0 0 20px rgba(0, 255, 104, 0.3);
}

/* Ефекти при наведенні */
.swim-button:hover {
  background: #00ff68; /* Легка підсвітка фону */
  color: black; /* Колір тексту при наведенні */
  transform: scale(1.1); /* Збільшення кнопки */
  border-color: #00ff68; /* Яскравіша рамка */

  /* Ефект світіння */
  box-shadow: 0 0 15px rgba(0, 255, 104, 0.8), 0 0 30px rgba(0, 255, 104, 1);
}
