/* Загальний стиль футера */
.footer {
  background-color: rgb(0, 0, 0);
  padding: 15px 0;
  text-align: center;
}

/* Контейнер для тексту та кнопки */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Текстові елементи */
.copyright,
.policy {
  color: #d4f0ff;
  font-size: 0.9rem;
}

.policy a {
  color: #00c3c6;
  text-decoration: none;
}

.policy a:hover {
  text-decoration: underline;
}
