.navButton {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Збільшений розмір */
  height: 50px;
  background: transparent; /* Прозорий фон */
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButton:hover {
  transform: translateY(-50%) scale(1.3); /* Збільшення при наведенні */
}

/* Стиль стрілок */
.arrow {
  font-size: 40px; /* Розмір стрілки */
  color: white;
  transition: color 0.3s ease-in-out;
}

/* Ефект ховера для стрілок */
.navButton:hover .arrow {
  color: #00ffcc;
}

/* Кнопка зліва */
.left {
  left: 10px;
}

/* Кнопка справа */
.right {
  right: 10px;
}
