/* Основний контейнер */
.lists-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  padding: 50px 0;
}

/* Заголовок "Розділи" */
.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #00ff99;
  text-shadow: 0 0 15px rgba(0, 255, 153, 0.8);
  margin-bottom: 50px;
}

/* Секції */
.section-container {
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 40px auto;
  padding: 40px 0;
  background-color: #000000;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.section-title-h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #79e8ab;
  margin-bottom: 30px;
}

/* Контент */
.content {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Ліва і права колонка */
.list-left,
.list-right {
  width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
}

.list-right {
  text-align: right;
}

/* Текст списків */
.list-item {
  font-size: 1.2rem;
  line-height: 1.4;
  color: aliceblue;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.1);
  border-bottom: solid 1px #79e8ab;
}

/* Анімація появи секцій */
.section-container {
  opacity: 0;
  transform: translateY(50px);
}

.section-container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Зображення */
.img-container {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
}

/* Фон для секції "Про наш портал" */
.img-space-container {
  background-image: url("/AboutImage/manopenlock.jpg"),
    radial-gradient(circle, rgba(24, 155, 255, 0.3), rgba(0, 0, 0, 0.8));
  background-blend-mode: overlay;
}

/* Фон для секції "Про команду" */
.img-team-container {
  background-image: url("/AboutImage/face.jpg"),
    radial-gradient(circle, rgba(24, 155, 255, 0.3), rgba(0, 0, 0, 0.8));
  background-blend-mode: overlay;
}

/* Фон для секції "Наші цілі" */
.img-goal-container {
  background-image: url("/AboutImage/pantera.jpg"),
    radial-gradient(circle, rgba(24, 155, 255, 0.3), rgba(0, 0, 0, 0.8));
  background-blend-mode: overlay;
}
